
<div style="margin-bottom: 2em;margin-top: 2em;" *ngIf="!loading">
  <button mat-fab color="primary" style="display: block; margin: auto;" (click)="toggleStepper()">
      <mat-icon>add</mat-icon>
  </button>
</div>

<div style="margin-bottom: 2em;margin-top: 2em;">
  <mat-spinner *ngIf="loading" style="display: block; margin: auto;"></mat-spinner>
</div>

<div style="margin-bottom: 2em;margin-top: 2em;" *ngIf="!loading">
  <button mat-raised-button color="primary" style="display: block; margin: auto;" (click)="deleteAllStaff()">
      Delete All Staff
  </button>
</div>

<mat-horizontal-stepper linear #stepper style="margin-bottom: 2em;" *ngIf="showStepper">

  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out the doc's info 1</ng-template>

          <mat-form-field style=" margin-right: 3em;">
              <mat-label style="margin: 1em;">First Name</mat-label>
              <input matInput formControlName="firstCtrl" placeholder="First name" required>
          </mat-form-field>

          <mat-form-field style=" margin-right: 3em;">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Last name" required>
          </mat-form-field>

          <mat-form-field style=" margin-right: 3em;">
            <mat-label>Department</mat-label>
            <input matInput formControlName="thirdCtrl" placeholder="Department" required>
          </mat-form-field>

          <div style="margin: 1em;">
              <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
      </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out doc's info 2</ng-template>

          <mat-form-field style="margin: 1em;">
            <mat-label style="margin: 1em;">Position</mat-label>
            <input matInput formControlName="fourthCtrl" placeholder="Position" required>
          </mat-form-field>

          <mat-form-field style="margin: 1em;">
            <mat-label>Salary</mat-label>
            <input matInput formControlName="fifthCtrl" placeholder="Salary" required>
          </mat-form-field>

          <div style="margin: 1em;">
              <button mat-raised-button matStepperPrevious color="primary">Back</button>
              <button mat-raised-button (click)="addDoc(); stepper.reset()" color="primary">Add Patient</button>
          </div>
      </form>
  </mat-step>

</mat-horizontal-stepper>

<mat-accordion *ngIf="!loading" style="margin-bottom: 2em;">
  <mat-expansion-panel *ngFor="let doc of staff">
      <mat-expansion-panel-header>
          <mat-panel-title>
            #{{doc.id}}
          </mat-panel-title>
          <mat-panel-description>
            {{doc.firstname}} {{doc.lastname}}
          </mat-panel-description>
      </mat-expansion-panel-header>
      <div 
      style=
      "display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: stretch;">
          <div>
            <div>
              Department : {{doc.department}}
            </div>
            <div>
              position : {{doc.position}}
            </div>
            <div>
              Salary : {{doc.salary}}
            </div>
          </div>
          <div>
              <button mat-raised-button color="accent" (click)="deleteDoc(doc.id)">
                  Delete
              </button>
          </div>

      </div>
  </mat-expansion-panel>
</mat-accordion>